[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/afnanenayet/hugo-black-and-light-theme.git

[submodule "themes/themes/hugo-theme-monochrome"]
	path = themes/themes/hugo-theme-monochrome
	url = https://github.com/kaiiiz/hugo-theme-monochrome.git
[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = git@github.com:afnanenayet/hugo-theme-monochrome.git
